@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.landing-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
}

.background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.password-changed-container {
  position: relative;
  background-color: rgba(129, 73, 22, 0.7); /* Mismo color y opacidad */
  border-radius: 1.5rem;
  padding: 2.5rem;
  width: 1030px; /* Ancho del diseño */
  height: 541px; /* Altura del diseño */
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar contenido verticalmente */
  gap: 30px; /* Espacio entre elementos */
}

.title {
  color: white;
  font-weight: bolder;
  font-size: 32px; /* Tamaño del título */
  text-align: center;
  margin-bottom: 15px;
}

.description {
  color: white;
  font-size: 18px; /* Tamaño de la descripción */
  text-align: center;
  line-height: 1.5;
  margin-bottom: 40px;
  padding: 0 150px; /* Padding lateral */
}

.accept-button {
  width: 300px; /* Ancho del botón */
  height: 50px; /* Alto del botón */
  background-color: transparent; /* Fondo transparente */
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  border: 2px solid transparent; /* Borde transparente por defecto */
  border-radius: 0.25rem;
  cursor: pointer;
  transition: border-color 0.3s ease; /* Transición suave del borde */
}

.accept-button:hover {
  border-color: rgba(255, 255, 255, 0.7); /* Borde blanco medio opaco al pasar el mouse */
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .password-changed-container {
    width: 90%;
    height: auto;
    padding: 20px;
    gap: 20px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .description {
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0 80px;
  }

  .accept-button {
    width: 250px;
    height: 45px;
    font-size: 16px;
    border: 2px solid transparent; /* Borde transparente por defecto */
  }

  .accept-button:hover {
    border-color: rgba(255, 255, 255, 0.7); /* Borde blanco medio opaco al pasar el mouse */
  }
}

@media (max-width: 480px) {
  .password-changed-container {
    padding: 15px;
    gap: 15px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .description {
    font-size: 14px;
    margin-bottom: 25px;
    padding: 0 40px;
  }

  .accept-button {
    width: 200px;
    height: 40px;
    font-size: 15px;
    border: 2px solid transparent; /* Borde transparente por defecto */
  }

  .accept-button:hover {
    border-color: rgba(255, 255, 255, 0.7); /* Borde blanco medio opaco al pasar el mouse */
  }
}